We need to import Pandas and Numpy Library

In [128]:
# importing libraries
import numpy as np
import pandas as pd

Now, Load the data set in Collab

In [129]:
data = pd.read_csv("/content/Data-cleaning-for-beginners-using-pandas.csv")

In [130]:
data

    Index   Age      Salary  Rating       Location  Established Easy Apply
0       0  44.0   $44k-$99k     5.4       India,In         1999       TRUE
1       1  66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2   NaN   $77k-$89k    -1.0    New York,Ny           -1         -1
3       3  64.0   $44k-$99k     4.4       India In         1988         -1
4       4  25.0   $44k-$99k     6.4  Australia Aus         2002         -1
5       5  44.0   $77k-$89k     1.4       India,In         1999       TRUE
6       6  21.0   $44k-$99k     0.0    New York,Ny           -1         -1
7       7  44.0   $44k-$99k    -1.0  Australia Aus           -1         -1
8       8  35.0   $44k-$99k     5.4    New York,Ny           -1         -1
9       9  22.0   $44k-$99k     7.7       India,In           -1       TRUE
10     10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11     11  44.0   $10k-$49k     6.7       India,In         2009         -1
12     12   NaN   $44k-$99k     0.0       India,In         1999         -1
13     13  25.0   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15  44.0  $88k-$101k     3.0  Australia Aus         1999         -1
16     16  19.0   $19k-$40k     4.5       India,In         1984         -1
17     17   NaN   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20   NaN   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21  35.0   $44k-$99k     5.0    New York,Ny         1946         -1
22     22  19.0   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23   NaN   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24  13.0   $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0   $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN   $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0   $44k-$99k     5.4       India,In         1935         -1
28     28   NaN   $39k-$88k     3.4  Australia Aus         1932         -1

we need to check how many rows and columns are the in Dataset

In [131]:
data.shape

(29, 7)

In [132]:
data.columns

Index(['Index', 'Age', 'Salary', 'Rating', 'Location', 'Established',
       'Easy Apply'],
      dtype='object')

Obtain the data information from the data set.

In [133]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Index        29 non-null     int64
 1   Age          22 non-null     float64
 2   Salary       29 non-null     object
 3   Rating       28 non-null     float64
 4   Location     29 non-null     object
 5   Established  29 non-null     int64
 6   Easy Apply   29 non-null     object
dtypes: float64(2), int64(2), object(3)
memory usage: 1.7+ KB

In [134]:
data.isnull().sum()

Index          0
Age            7
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

Query
1. Missing Values:

Question: Are there any missing values in the dataset, and if so, how should they be handled for each indicator?

In [135]:
avg_age = data['Age'].mean()
avg_age

39.04545454545455

In [136]:
data['Age'] = data.Age.fillna(avg_age)

In [137]:
# fill the missing values with mean
data['Age'] = data.Age.fillna(avg_age)
data['Age'] = data.Age.round(decimals=0)

In [138]:
# remove $ from the salary column

data['Salary'] = data['Salary'].str.replace('$', '')

<ipython-input-138-a68e51185ce6>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Salary'] = data['Salary'].str.replace('$', '')

In [139]:
# remove $ from the salary column
data['Salary'] = data.Salary.str.replace("k","000")

In [140]:
# Using dataframe data: Remove the -1 values from Easily apply to Convert to False

data['Easy Apply'] = data['Easy Apply'].replace('-1',"FALSE")

In [141]:


# Using dataframe data: In establish column change -1 values to null.

data['Established'].replace(-1, np.nan, inplace=True)

In [142]:
data['Rating'] = data.Rating.round(decimals = 1).abs().replace('Nan','0')
data = data.dropna(subset=['Rating'])

In [143]:
data['Location'] = data['Location'].str.split(",", expand=True) [0].str.replace(r'\sAus', '').str.replace(r'\sIn', '')

<ipython-input-143-2a15e7084a20>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Location'] = data['Location'].str.split(",", expand=True) [0].str.replace(r'\sAus', '').str.replace(r'\sIn', '')
<ipython-input-143-2a15e7084a20>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Location'] = data['Location'].str.split(",", expand=True) [0].str.replace(r'\sAus', '').str.replace(r'\sIn', '')

In [144]:
data

    Index   Age        Salary  Rating   Location  Established Easy Apply
0       0  44.0   44000-99000     5.4      India       1999.0       TRUE
1       1  66.0   55000-66000     3.5   New York       2002.0       TRUE
2       2  39.0   77000-89000     1.0   New York          NaN      FALSE
3       3  64.0   44000-99000     4.4      India       1988.0      FALSE
4       4  25.0   44000-99000     6.4  Australia       2002.0      FALSE
5       5  44.0   77000-89000     1.4      India       1999.0       TRUE
6       6  21.0   44000-99000     0.0   New York          NaN      FALSE
7       7  44.0   44000-99000     1.0  Australia          NaN      FALSE
8       8  35.0   44000-99000     5.4   New York          NaN      FALSE
9       9  22.0   44000-99000     7.7      India          NaN       TRUE
10     10  55.0   10000-49000     5.4      India       2008.0       TRUE
11     11  44.0   10000-49000     6.7      India       2009.0      FALSE
12     12  39.0   44000-99000     0.0      India       1999.0      FALSE
13     13  25.0   44000-99000     1.0  Australia       2019.0       TRUE
14     14  66.0   44000-99000     4.0  Australia       2020.0       TRUE
15     15  44.0  88000-101000     3.0  Australia       1999.0      FALSE
16     16  19.0   19000-40000     4.5      India       1984.0      FALSE
17     17  39.0   44000-99000     5.3   New York       1943.0       TRUE
18     18  35.0   44000-99000     6.7   New York       1954.0       TRUE
19     19  32.0   44000-99000     3.3   New York       1955.0       TRUE
20     20  39.0   44000-99000     5.7   New York       1944.0       TRUE
21     21  35.0   44000-99000     5.0   New York       1946.0      FALSE
22     22  19.0   55000-66000     7.8   New York       1988.0       TRUE
23     23  39.0   44000-99000     2.4   New York       1999.0       TRUE
24     24  13.0   44000-99000     1.0   New York       1987.0      FALSE
25     25  55.0   44000-99000     0.0  Australia       1980.0       TRUE
27     27  52.0   44000-99000     5.4      India       1935.0      FALSE
28     28  39.0   39000-88000     3.4  Australia       1932.0      FALSE

2. Data Types:

Question: What are the data types of each indicator, and do they align with their expected types (e.g., numerical, categorical)?

In [145]:
data.dtypes

Index            int64
Age            float64
Salary          object
Rating         float64
Location        object
Established    float64
Easy Apply      object
dtype: object

3. Outliers:

Question: Identify potential outliers in numerical indicators (e.g., Age, Salary, Rating). Should outliers be removed or adjusted?

In [146]:
data.dtypes

Index            int64
Age            float64
Salary          object
Rating         float64
Location        object
Established    float64
Easy Apply      object
dtype: object

In [147]:
Outlier = ['Age','Rating']
for i in Outlier:
    Q1 = data[i].quantile(0.25)
    Q3 = data[i].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = data[(data[i] < lower_bound) | (data[i] > upper_bound)]

    print(f"Potential Outliers in {i}: ")
    print(outliers)

Potential Outliers in Age:
    Index   Age       Salary  Rating   Location  Established Easy Apply
1       1  66.0  55000-66000     3.5   New York       2002.0       TRUE
14     14  66.0  44000-99000     4.0  Australia       2020.0       TRUE
Potential Outliers in Rating:
Empty DataFrame
Columns: [Index, Age, Salary, Rating, Location, Established, Easy Apply]
Index: []

4. Salary Formatting:

Question: Examine the format of the Salary column. Does it require any formatting or standardization for consistent analysis?

In [148]:
data.Salary

0      44000-99000
1      55000-66000
2      77000-89000
3      44000-99000
4      44000-99000
5      77000-89000
6      44000-99000
7      44000-99000
8      44000-99000
9      44000-99000
10     10000-49000
11     10000-49000
12     44000-99000
13     44000-99000
14     44000-99000
15    88000-101000
16     19000-40000
17     44000-99000
18     44000-99000
19     44000-99000
20     44000-99000
21     44000-99000
22     55000-66000
23     44000-99000
24     44000-99000
25     44000-99000
27     44000-99000
28     39000-88000
Name: Salary, dtype: object

5. Location Standardization:

Question: Check the consistency of location entries. Do they need standardization, and how can this be achieved?

In [149]:
data['Location'].str.split(",", expand=True) [0]

0         India
1      New York
2      New York
3         India
4     Australia
5         India
6      New York
7     Australia
8      New York
9         India
10        India
11        India
12        India
13    Australia
14    Australia
15    Australia
16        India
17     New York
18     New York
19     New York
20     New York
21     New York
22     New York
23     New York
24     New York
25    Australia
27        India
28    Australia
Name: 0, dtype: object

6. Established Column:

Question: Explore the Established column. Are there any inconsistencies or anomalies that need to be addressed?

In [150]:
data['Established'].replace(-1, np.NaN, inplace=True)
data['Established']

<ipython-input-150-f8db80a8c530>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Established'].replace(-1, np.NaN, inplace=True)

0     1999.0
1     2002.0
2        NaN
3     1988.0
4     2002.0
5     1999.0
6        NaN
7        NaN
8        NaN
9        NaN
10    2008.0
11    2009.0
12    1999.0
13    2019.0
14    2020.0
15    1999.0
16    1984.0
17    1943.0
18    1954.0
19    1955.0
20    1944.0
21    1946.0
22    1988.0
23    1999.0
24    1987.0
25    1980.0
27    1935.0
28    1932.0
Name: Established, dtype: float64

7. Easy Apply Indicator:

Question: Analyze the Easy Apply column. Does it contain boolean values or need transformation for better analysis

In [151]:
data['Easy Apply'] = data['Easy Apply'].replace('-1',"FALSE")
data['Easy Apply']

<ipython-input-151-b8fc4b909b66>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Easy Apply'] = data['Easy Apply'].replace('-1',"FALSE")

0      TRUE
1      TRUE
2     FALSE
3     FALSE
4     FALSE
5      TRUE
6     FALSE
7     FALSE
8     FALSE
9      TRUE
10     TRUE
11    FALSE
12    FALSE
13     TRUE
14     TRUE
15    FALSE
16    FALSE
17     TRUE
18     TRUE
19     TRUE
20     TRUE
21    FALSE
22     TRUE
23     TRUE
24    FALSE
25     TRUE
27    FALSE
28    FALSE
Name: Easy Apply, dtype: object

8. Rating Range:

Question: Investigate the range of values in the Rating column. Does it fall within expected rating scales, and how should outliers be treated?

In [152]:
data['Rating'] = data.Rating.round(decimals = 1).abs()
data['Rating']

<ipython-input-152-df74a2758a7f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Rating'] = data.Rating.round(decimals = 1).abs()

0     5.4
1     3.5
2     1.0
3     4.4
4     6.4
5     1.4
6     0.0
7     1.0
8     5.4
9     7.7
10    5.4
11    6.7
12    0.0
13    1.0
14    4.0
15    3.0
16    4.5
17    5.3
18    6.7
19    3.3
20    5.7
21    5.0
22    7.8
23    2.4
24    1.0
25    0.0
27    5.4
28    3.4
Name: Rating, dtype: float64

9. Age Distribution:

Question: Check the distribution of values in the Age column. Are there any unusual entries, and how might they impact analysis?

In [153]:
# fill the missing values with mean
data['Age'] = data.Age.fillna(avg_age)
data['Age'] = data.Age.fillna(avg_age)
data['Age'] = data.Age.round(decimals=0)
data['Age']

<ipython-input-153-b9fed2a8fbeb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Age'] = data.Age.fillna(avg_age)
<ipython-input-153-b9fed2a8fbeb>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Age'] = data.Age.fillna(avg_age)
<ipython-input-153-b9fed2a8fbeb>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Age'] = data.Age.round(decimals=0)

0     44.0
1     66.0
2     39.0
3     64.0
4     25.0
5     44.0
6     21.0
7     44.0
8     35.0
9     22.0
10    55.0
11    44.0
12    39.0
13    25.0
14    66.0
15    44.0
16    19.0
17    39.0
18    35.0
19    32.0
20    39.0
21    35.0
22    19.0
23    39.0
24    13.0
25    55.0
27    52.0
28    39.0
Name: Age, dtype: float64

10. Handling Special Characters:

Question: Examine all text-based columns (e.g., Location). Are there special characters or inconsistencies that need cleaning?

In [154]:
# Using dataframe data: display Locations And salary column
data['Location'].str.split(",", expand=True) [0].str.replace(r'\sAus', '').str.replace(r'\sIn', '')
data[['Location', 'Salary']]

<ipython-input-154-e6f2ac0e57b1>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Location'].str.split(",", expand=True) [0].str.replace(r'\sAus', '').str.replace(r'\sIn', '')

     Location        Salary
0       India   44000-99000
1    New York   55000-66000
2    New York   77000-89000
3       India   44000-99000
4   Australia   44000-99000
5       India   77000-89000
6    New York   44000-99000
7   Australia   44000-99000
8    New York   44000-99000
9       India   44000-99000
10      India   10000-49000
11      India   10000-49000
12      India   44000-99000
13  Australia   44000-99000
14  Australia   44000-99000
15  Australia  88000-101000
16      India   19000-40000
17   New York   44000-99000
18   New York   44000-99000
19   New York   44000-99000
20   New York   44000-99000
21   New York   44000-99000
22   New York   55000-66000
23   New York   44000-99000
24   New York   44000-99000
25  Australia   44000-99000
27      India   44000-99000
28  Australia   39000-88000

11. Data Integrity:

Question: Ensure data integrity by cross-referencing entries. For instance, does the Established column align with the Age column?

In [155]:
data[['Age', 'Established']]

     Age  Established
0   44.0       1999.0
1   66.0       2002.0
2   39.0          NaN
3   64.0       1988.0
4   25.0       2002.0
5   44.0       1999.0
6   21.0          NaN
7   44.0          NaN
8   35.0          NaN
9   22.0          NaN
10  55.0       2008.0
11  44.0       2009.0
12  39.0       1999.0
13  25.0       2019.0
14  66.0       2020.0
15  44.0       1999.0
16  19.0       1984.0
17  39.0       1943.0
18  35.0       1954.0
19  32.0       1955.0
20  39.0       1944.0
21  35.0       1946.0
22  19.0       1988.0
23  39.0       1999.0
24  13.0       1987.0
25  55.0       1980.0
27  52.0       1935.0
28  39.0       1932.0

12. Easy Apply Transformation:

Question: If the Easy Apply column contains non-boolean values, how can it be transformed into a usable format?

In [156]:
data['Easy Apply'] = data['Easy Apply'].replace('-1',"FALSE")
data['Easy Apply']

<ipython-input-156-b8fc4b909b66>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Easy Apply'] = data['Easy Apply'].replace('-1',"FALSE")

0      TRUE
1      TRUE
2     FALSE
3     FALSE
4     FALSE
5      TRUE
6     FALSE
7     FALSE
8     FALSE
9      TRUE
10     TRUE
11    FALSE
12    FALSE
13     TRUE
14     TRUE
15    FALSE
16    FALSE
17     TRUE
18     TRUE
19     TRUE
20     TRUE
21    FALSE
22     TRUE
23     TRUE
24    FALSE
25     TRUE
27    FALSE
28    FALSE
Name: Easy Apply, dtype: object

13. Location Accuracy:

Question: Assess the accuracy of location entries. Are there misspelled or ambiguous locations that require correction?

In [157]:
data['Location'].str.split(",", expand=True) [0].str.replace(r'\sAus', '').str.replace(r'\sIn', '')

<ipython-input-157-6785bd9ed1bd>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Location'].str.split(",", expand=True) [0].str.replace(r'\sAus', '').str.replace(r'\sIn', '')

0         India
1      New York
2      New York
3         India
4     Australia
5         India
6      New York
7     Australia
8      New York
9         India
10        India
11        India
12        India
13    Australia
14    Australia
15    Australia
16        India
17     New York
18     New York
19     New York
20     New York
21     New York
22     New York
23     New York
24     New York
25    Australia
27        India
28    Australia
Name: 0, dtype: object

14. Handling Categorical Data:

Question: For categorical indicators, consider encoding or transforming them into a format suitable for analysis.

In [158]:
data

    Index   Age        Salary  Rating   Location  Established Easy Apply
0       0  44.0   44000-99000     5.4      India       1999.0       TRUE
1       1  66.0   55000-66000     3.5   New York       2002.0       TRUE
2       2  39.0   77000-89000     1.0   New York          NaN      FALSE
3       3  64.0   44000-99000     4.4      India       1988.0      FALSE
4       4  25.0   44000-99000     6.4  Australia       2002.0      FALSE
5       5  44.0   77000-89000     1.4      India       1999.0       TRUE
6       6  21.0   44000-99000     0.0   New York          NaN      FALSE
7       7  44.0   44000-99000     1.0  Australia          NaN      FALSE
8       8  35.0   44000-99000     5.4   New York          NaN      FALSE
9       9  22.0   44000-99000     7.7      India          NaN       TRUE
10     10  55.0   10000-49000     5.4      India       2008.0       TRUE
11     11  44.0   10000-49000     6.7      India       2009.0      FALSE
12     12  39.0   44000-99000     0.0      India       1999.0      FALSE
13     13  25.0   44000-99000     1.0  Australia       2019.0       TRUE
14     14  66.0   44000-99000     4.0  Australia       2020.0       TRUE
15     15  44.0  88000-101000     3.0  Australia       1999.0      FALSE
16     16  19.0   19000-40000     4.5      India       1984.0      FALSE
17     17  39.0   44000-99000     5.3   New York       1943.0       TRUE
18     18  35.0   44000-99000     6.7   New York       1954.0       TRUE
19     19  32.0   44000-99000     3.3   New York       1955.0       TRUE
20     20  39.0   44000-99000     5.7   New York       1944.0       TRUE
21     21  35.0   44000-99000     5.0   New York       1946.0      FALSE
22     22  19.0   55000-66000     7.8   New York       1988.0       TRUE
23     23  39.0   44000-99000     2.4   New York       1999.0       TRUE
24     24  13.0   44000-99000     1.0   New York       1987.0      FALSE
25     25  55.0   44000-99000     0.0  Australia       1980.0       TRUE
27     27  52.0   44000-99000     5.4      India       1935.0      FALSE
28     28  39.0   39000-88000     3.4  Australia       1932.0      FALSE

15. Consistent Rating Scale:

Question: Ensure a consistent rating scale in the Rating column. Should it be normalized or adjusted for uniform analysis?

In [159]:
data['Rating'] = data.Rating.round(decimals = 1).abs().replace('Nan','0')
data = data.dropna(subset=['Rating'])
data['Rating']

<ipython-input-159-c674948ff7a6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Rating'] = data.Rating.round(decimals = 1).abs().replace('Nan','0')

0     5.4
1     3.5
2     1.0
3     4.4
4     6.4
5     1.4
6     0.0
7     1.0
8     5.4
9     7.7
10    5.4
11    6.7
12    0.0
13    1.0
14    4.0
15    3.0
16    4.5
17    5.3
18    6.7
19    3.3
20    5.7
21    5.0
22    7.8
23    2.4
24    1.0
25    0.0
27    5.4
28    3.4
Name: Rating, dtype: float64